/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2022, 1:47:47 PM
    Author     : Tkien
*/

.btn-black{
    background-color: rgba(0,107,104,255);
    color: white;
    padding-right: 180px;
    padding-left: 180px;
    margin-left: 200px
}

.sidenav h2{
    text-align: center;
    color: black;
    font-family: inherit;
}

.sidenav{
    background-color: #87cefa;
    background-image: url('../../material/flower.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 430px 550px;
    border-right: solid gold; 


}

.sidenav img{
    margin-left: 140px;
    margin-top: 140px;
}

.sidenav p{
    text-align: center;
    color: black;
    font-family: inherit;
}

.main{
    background-color: #f9f9f9;
    background-image: linear-gradient(315deg, #f9f9f9 0%, #02a388 74%);
    height: 550px;

}

.main h3{
    font-family: inherit;
    text-align: center;
    padding-top: 150px;
    color: #ffc629;
}

.form-group{
    padding-left: 200px;
}

.form-group input{
    padding-bottom: 18px;
    border-radius: 10px;
}