/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2022, 3:57:07 PM
    Author     : Tkien
*/
.container{
    display: flex;
    
}
.left{
    width: 40%;
    height: 600px;
    background-color: pink;
}

.right{
    width: 60%;
    height: 600px;
    background-color: red;
}

.click-button{
    background-color: rgba(0,107,104,255);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;

}
