/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2022, 1:47:47 PM
    Author     : Tkien
*/


.btn-black{
    background-color: #1e3d59;
    color: white;
    padding-right: 180px;
    padding-left: 180px;
    margin-left: 200px
}

.sidenav h2{
    text-align: center;
    color: whitesmoke;
    font-family: inherit;
}

.sidenav{
    background-color: #1e3d59;

}

.sidenav img{
    margin-left: 165px;
    margin-top: 150px;
}

.sidenav p{
    text-align: center;
    color: whitesmoke;
    font-family: inherit;
}

.main{
    background-color: #f5f0e1;
    
    height: 550px;

}

  
.main h3{
    font-family: inherit;
    text-align: center;
    padding-top: 140px;
    color: #ff6e40;
}

.form-group{
    padding-left: 200px;
}

.form-group input{
    padding-bottom: 18px;
    border-radius: 10px;
}